<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro  name="box_bot_body" params="robot_name">

      <link name="${robot_name}_base_link">
      </link>

      <link name="${robot_name}_chassis">
        <visual>
          <geometry>
            <xacro:if value="${'boxcleaner' in robot_name}">
              <mesh filename="package://box_bot_description/meshes/${robot_name}.dae" scale="${base_box_factor*0.1} ${base_box_factor*0.1} ${base_box_factor*0.1}"/>
            </xacro:if>
            <xacro:unless value="${'boxcleaner' in robot_name}">
              <mesh filename="package://box_bot_description/meshes/${robot_name}.dae" scale="${base_box_factor*0.1} ${base_box_factor*0.1} ${base_box_factor*0.1}"/>
            </xacro:unless>
            
          </geometry>
        </visual>

        <collision>
          <geometry>
            <box size="${base_box_factor*0.1} ${base_box_factor*0.1} ${base_box_factor*0.1}"/>         
          </geometry>
        </collision>

        <inertial>
          <mass value="0.5"/>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <inertia ixx="0.0008333333333333335" ixy="0" ixz="0" iyy="0.0008333333333333335" iyz="0" izz="0.0008333333333333335"/>
        </inertial>

      </link>

      <joint name="${robot_name}_base_link_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0" />
        <parent link="${robot_name}_base_link" />
        <child link="${robot_name}_chassis" />
      </joint>

    </xacro:macro >

</robot>